/* GENERAL */

* {
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

nav {
    height: 100px;
    background-color: #e579e6;
    margin: 20px 0;
    
}

#header_content {
    height: 400px; 
    background-color: #e1d67a;
    margin-bottom: 20px;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.float {
    float: left;
}

/* MAIN */

main {
    background-color: #0685f8;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#main_header {
    height: 50px;
    margin-bottom: 20px;
}

.blue_bg {
    background-color: #abcfe7;
}

.main_sidebar {
    height: 400px;
    width: calc(20% - 20px);
    
}

#main_content {
    height: 400px; 
    width: 60%;
    margin: 0 20px;
}


/* FOOTER */

footer {
    height: 50px;
    background-color: #8801fe;
    margin-bottom: 20px;
}